<h1><%= model.moduleName %></h1>
<div class="form form-horizontal" role="form">
<% 
_.each(model.fields, function(mfield) { %>  

  <div class="form-group">
    <label for="<%= mfield.name %>"><%= mfield.name %></label>
    <input type="text" class="form-control" id="<%= mfield.column %>" name="<%= mfield.column %>" placeholder="<%= mfield.name %>">
  </div>

<% }) %>


<% 
_.each(model.HasOne, function(relation) { %>  

  <div class="form-group">
    <label for="<%= relation.field %>"><%= relation.field %></label>
    <select  class="form-control selectbox-<%= relation.field %>" id="<%= relation.field %>" name="<%= relation.field %>" ></select>
  </div>

<% }) %>



  <button type="button" class="btn btn-default submitForm">Submit</button>
</div>